<section class="flex">
    <div class="container flex row wrap">
        <div class="project-container">
            {{!-- <img src="{{rootURL}}images/SchoolProjects/Blackjack/HomeScreen.PNG" alt="Blackjack" class="project"/> --}}
            <div class="project blackjackCover backgroundCenter"></div>
            <div class="text">
                <p>Blackjack</p>
                <p>Java</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project majongCover backgroundCenter"></div>
            <div class="text">
                <p>Majong</p>
                <p>Java</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project slapJackCover backgroundCenter"></div>
            <div class="text">
                <p>SlapJack</p>
                <p>Java</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project typeTestCover backgroundCenter"></div>
            <div class="text">
                <p>Typing Test</p>
                <p>PHP</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project onTrackCover backgroundCenter"></div>
            <div class="text">
                <p>On Track</p>
                <p>JavaScript</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project techInstructCover backgroundCenter"></div>
            <div class="text">
                <p>Technical Instructions</p>
                <p>HTML, CSS</p> 
            </div>
        </div>
    </div>
</section>