<section class="flex">
    <div class="container flex row wrap">
        <div class="project-container">
            <div class="project greenCover"></div>
            <div class="text">
                <p>Project 1</p>
                <p>Java</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project blueCover"></div>
            <div class="text">
                <p>Project 2</p>
                <p>PHP</p> 
            </div>
        </div>
    </div>
</section>