<section class="flex">
    <div class="container flex row wrap">
        <div class="project-container">
            <div class="project greenCover"></div>
            <div class="text">
                <p>Project 1</p>
                <p>Ember.js MySQL Python</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project blueCover"></div>
            <div class="text">
                <p>Project 2</p>
                <p>PHP</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project redCover"></div>
            <div class="text">
                <p>Project 3</p>
                <p>C++</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project pinkCover"></div>
            <div class="text">
                <p>Project 4</p>
                <p>Angular</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project purpleCover"></div>
            <div class="text">
                <p>Project 5</p>
                <p>JavaScript</p> 
            </div>
        </div>
        <div class="project-container">
            <div class="project yellowCover"></div>
            <div class="text">
                <p>Project 6</p>
                <p>Java</p> 
            </div>
        </div>
    </div>
</section>