<p class="animated fadeInDown">My Front-End, Back-End, and Database languages and comfort levels from 1-100.</p>
<div class="col-sm-4 skill-charts">
    {{ember-chart type='doughnut' data=data1 height=180 options=options1}}  
</div>
<div class="col-sm-4 skill-charts">
    {{ember-chart type='doughnut' data=data2 height=180 options=options2}} 
</div>
<div class="col-sm-4 skill-charts">
    {{ember-chart type='doughnut' data=data3 height=180 options=options3}} 
</div>
<div class="col-sm-4 skill-charts">
    {{ember-chart type='doughnut' data=data4 height=180 options=options4}} 
</div>
